[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pyyaml = "*"
biolinkml =  "*"
requests = "*"
click = "*"
pipenv-to-requirements = "*"
jupyter = "*"
pymongo = "*"
pytoolz = "*"
mongospawn = "*"
toolz = "*"
tqdm = "*"
pandas = "*"
jq = "*"
dotted_dict = "*"
git_root = "*"

[dev-packages]
jupyter = "*"
pandas = "*"
networkx = "*"
seaborn = "*"
matplotlib = "*"
pandasql = "*"
tabulate = "*"
xlrd = "*"
XlsxWriter = "*"
jq = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
