# libraries for parsing Montanas google sheet in full now commented out
#biopython
#bmt
#matplotlib
#pymongo
#scikit-learn
#xmltodict

# packages esp. for dataharmonizer approach with minimal google sheet import
# add pymongo back in?
# currently using static dump
black
jupyter
# linkml-runtime
linkml
pandas


# igraph
#python-igraph

google-api-python-client
google-auth-oauthlib

# ERROR: httplib2 0.20.1 has requirement pyparsing<3,>=2.4.2, but you'll have pyparsing 3.0.3 which is incompatible.
pyparsing~=2.4.7 
